<!-- <style type="text/css">
	body{
		background-color: purple;
	}
</style> -->

<!-- Use a centralized css sheet for all pages as opposed to above -->
<!-- <link rel="stylesheet" type="text/css" href="app.css"> -->

<!-- use header and footer files -->

<%- include("partials/header") %>

<h1>Posts</h1>

<% for(var i = 0; i < friends.length; i++){ %>
	<li><%= friends[i] %></li>
<% } %>

<form action="/addFriend" method="POST">
	<input type="text" placeholder = "name" name="newFriend">
	<button>New Friend</button>
</form>

<%- include("partials/footer") %>

